@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
}

@layer components {
  .input-field {
    @apply border-[1px] border-grey w-full rounded-md px-6 py-4 text-lg outline-none focus:placeholder:text-transparent placeholder:text-grey transition;
  }
  .error-input-field {
    @apply error-input-bg border-tomato text-tomato;
  }
  .button {
    @apply bg-dark-slate-grey w-full text-white font-medium py-5 px-3 rounded-md hover:-translate-y-1 transition hover:bg-tomato;
  }
}

.error-input-bg {
  background-color: rgba(255, 98, 87, 0.15);
}

#attribution {
  background-color: hsla(0, 0%, 100%, 0.851);
}

#attribution a {
  color: hsl(228, 45%, 44%);
}
